.parableu {
color: blue;
}
#parared
{
    color: red;
}
.bleu {
    color: blue
}
p.vert {
    color: green
}
.vt{
    color: rgb(101, 52, 214);
}
.bord{
    border: 5px solid rgb(179, 25, 76) ;
}
a
{color:red;text-decoration:none;}
a:hover
{
color:green;text-decoration:underline;}
a:visted
{
color:grey;}
.design{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    color: tomato;
}
.mycolor
{
    text-align: center;
    color: darkred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;

}
.transparent
{
    background-color: rgba(255, 0,0, 0.6);
   
}
.opacity
{
    opacity: 0.8;
}
.image
{
    background-image: url("../image/isg.gif");
}
.bordure
{
    border-style: dashed;
    border-width: 50px;
    border-color: blue;
    border: left ;
}
.dim
{
    height: 90px;
    width: 50%;
    margin-left: 60px;
  
}
ul
{
    list-style-image: url(../image/formalab.png);

}
.formation
{
    color: chocolate;
    text-align: center;
    font-size: 50px;
    font-style: italic;
}
body{ 
    margin:0px; 
    } 
#header
{ height:500px; 
    background-color: #ff6600;

}

#body
{
    color: red;
    text-align: left;
    font-size: 60px;
    font-style: italic;
}
#footer
{height:500px; 
    background-color: #4c4c4c;
}
